.status {
    background: #FFFFFF;
    border: 1px solid #EB5E28;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 23px 48px;
}

.status .statusBody {
    display: flex;
    align-items: center;
}

.statusBody svg {
    width: 70px;
    height: 70px;
    margin-right: 35px;
}

.status.black {
    border: 1px solid #3A405F;
}

.status .statusBody {
    display: flex;
    align-items: center;
}

.orderContainer {
    display: flex;
}

.orderContainer > div:first-of-type {
    margin-right: 65px;
}

.status.black .statusTitle {
    color: #3A405F;
}

.orderContainer span {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #3A405F;
    text-decoration: none;
}

.orderContainer p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #949599;
    margin-bottom: 10px;
}

.orderContainer a {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #3A405F;
    text-decoration: none;
}

.statusTitle {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #EB5E28;
    margin-bottom: 10px;
}

.statusText {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #3A405F;
    margin-bottom: 23px;
}

.inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.inputs > div {
    width: 100%;
}

.inputs > input {
    margin-right: 6px;
}

@media (max-width: 1199px) {
    .status {
        padding: 15px;
    }
}

@media (max-width: 991px) {
    .status .statusBody {
        justify-content: center;
    }
}


@media (max-width: 767px) {
    .inputs {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .inputs > input {
        margin-right: 0;
        margin-bottom: 6px;
    }
}

