.form p {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #3A405F;
}

.btns {
    display: flex;
}

.btns button:first-child {
    margin: 0 15px 0 0;
}

@media (max-width: 575px) {
    .btns {
        flex-direction: column;
    }

    .btns button {
        width: 100% !important;
    }

    .btns button:first-child {
        margin: 0 0 15px;
    }
}