.ForgotPassword {
    margin-top: -15px;
    min-height: 100vh;
    position: relative;
    align-items: center;
    background: url('/imgs/box.png') right 100px top 360px / 233px no-repeat;
}

.ForgotPassword::before {
    content: '';
    position: absolute;
    top: 230px;
    right: 0;
    width: 80px;
    height: 46px;
    background: url('/svg/dots-small.svg') center no-repeat;
}

.ForgotPassword::after {
    content: '';
    position: absolute;
    top: 310px;
    right: 330px;
    width: 120px;
    height: 65px;
    background: url('/svg/dots-big.svg') center no-repeat;
}

.ForgotPasswordForm {
    max-width: 505px;
    padding: 34px 95px;
    background: var(--white);
    border-radius: 10px;
}

.ForgotPasswordForm h1 {
    margin: 0 0 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--dark-color);
}

.ForgotPasswordForm p {
    margin: 0 0 25px;
    font-size: 12px;
    color: #828282;
}

.ForgotPasswordForm input {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background: #f7f8fa;
    transition: none;
}

.ForgotPasswordForm input:valid {
    background: #f7f8fa url('/svg/check.svg') right 20px center no-repeat;
}

.ForgotPasswordForm button {
    padding: 2px 36px 3px;
}

.ForgotPasswordForm a {
    position: relative;
    display: block;
    margin-top: 35px;
    padding-left: 26px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #3a405f;
}

.ForgotPasswordForm a::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    left: 0;
    width: 16px;
    height: 8px;
    background: url('/svg/arrow-right.svg') center no-repeat;
}

@media (max-width: 1199px) {
    .ForgotPassword {
        background-position: right center;
    }

    .ForgotPassword::before {
        top: 150px;
    }

    .ForgotPassword::after {
        top: 230px;
        right: 250px;
    }
}

@media (max-width: 991px) {
    .ForgotPassword {
        background-image: none;
    }

    .ForgotPassword::before,
    .ForgotPassword::after {
        display: none;
    }

    .ForgotPasswordForm {
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .ForgotPasswordForm {
        padding: 15px 30px;
    }

    .ForgotPasswordForm h1 {
        margin: 0 0 15px;
        font-size: 20px;
    }

    .ForgotPasswordForm p {
        text-align: center;
    }
}
