.fileInput {
    width: 100%;
    background: transparent;
    border: 1px dashed #3a405f;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 11px;
    cursor: pointer;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #3a405f;
    margin: 1rem 0;
}

.fileInput:focus {
    background-color: rgba(247,248,250, .5);
}

.dragAccept {
    background-color: rgba(247,248,250, .5);
}

.dragActive {
    background-color: rgba(247,248,250, .5);
}

.dragReject {
    background-color: rgba(247,248,250, .5);
}

.fileList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fileList li {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 15px 25px 15px 80px;
    min-height: 57px;
    margin-bottom: 1rem;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
}

.fileList li::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: #f7f8fa url('/svg/clip.svg') center no-repeat;
}

.fileList li svg {
    width: 15px;
    height: 15px;
    display: block;
}

.fileList li div:last-of-type {
    margin: auto 0;
}

.fileList li svg {
    cursor: pointer;
}

.size {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #949599;
    margin-bottom: 0;
}

.delete {
    border: 0;
    background-color: transparent;
}
