.orderBody {
    padding: 32px 32px 0;
    overflow-x: scroll;
}

.orderBody table thead th {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #3A405F;
    vertical-align: middle;
}

.orderBody table {
    border-color: #EBEBEB;
    margin-bottom: 0;
}

.orderBody table tbody td {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    white-space: nowrap;
}

@media (max-width: 992px) {
    .orderBody {
        padding: 15px;
    }
}