.list {
    max-height: 160px;
    overflow-y: scroll;
}
/* width */
.list::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #F7F8FA;
}

/* Handle */
.list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #3A405F;
}

/* Handle on hover */
.list::-webkit-scrollbar-thumb:hover {
    background: #3A405F;
}

.date {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #B4B6BD;
    margin-right: 35px;
}

.text {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #3A405F;
}

.paymentHistory p {
    margin-bottom: 8px;
}

.paymentHistory p:last-of-type {
    margin-bottom: 20px;
}
