.invoiceBtnBlock {
    display: flex;
    justify-content: space-between;
}

.invoiceBtnBlock .invoiceBtn {
    width: 120px;
    height: 110px;
    border: 0;
    border-radius: 15px;
    background: #F7F8FA url('/svg/document.svg') center no-repeat;
}

.invoiceBtnBlock .invoiceBtn span {
    display: block;
    margin-top: 10px;
    padding: 6px 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--orange);
    background: #F7F8FA;
    border-radius: 5px;
}


.invoiceBtnBlock .invoiceBtn:last-of-type {
    margin-right: 0;
}

@media (max-width: 767px) {
    .invoiceBtnBlock .invoiceBtn {
        margin-right: 10px;
        padding: 10px 10px;
    }
}
