.input {
    max-width: 48ch;
    width: 100%;
    margin: 10px 15px;
}

.input input {
    height: 40px;
    background: #f7f8fa;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    color: var(--dark-color);
    padding: 11px 24px;
    width: 100%;
    transition: 0.5s all;
    font-weight: 500;
}

.input input:focus {
    border: 1px solid #3A405F;
}

.input input.error {
    border: 1px solid #EB5E28;
}

.helperText {
    color: #EB5E28;
}
