/* Modal */
.title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #3A405F;
    margin-bottom: 20px;
}

.subtitle {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #B4B6BD;
    margin-bottom: 35px;
}

.subtitle b {
    font-weight: bold;
}

.svg {
    width: 85px;
    height: 98px;
    margin-bottom: 40px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.btnGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnGroup button {
    border-radius: 10px;
    border: none;
    padding: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    max-width: 250px;
    text-align: center;
    width: 100%;
    max-height: 40px;
    color: #FFFFFF;
    min-height: 40px;
    transition: 145ms ease-in-out;
}

.cancel {
    background: #c7ccd7;
}

.cancel:hover {
    box-shadow: 0 5px 10px rgba(199, 204, 215, 0.25);
}

.success {
    background: #eb5e28;
}

.success:hover {
    box-shadow: 0 5px 10px rgba(235, 94, 40, 0.25);
}

/* Buttons */
.btn {
    border-radius: 10px;
    border: none;
    padding: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    max-width: 250px;
    text-align: center;
    width: 100%;
    max-height: 40px;
    color: #FFFFFF;
    min-height: 40px;
}

.default {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    color: #B4B6BD;
    margin: 0;
    background: transparent;
    border: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transition: 145ms ease-in-out;
}

.default svg {
    width: 30px;
    height: 30px;
    padding: 8px;
    overflow: visible;
    background: #F7F8FA;
    border-radius: 50%;
    margin-right: 5px;
    transition: 145ms ease-in-out;
}

.default:hover {
    color: #EB5E28;
}

.default:hover svg path {
    fill: #EB5E28;
}

.old {
    background-color: #dc3545;
    min-width: 140px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.link {

}
