.products {
    background: #FAFBFC;
    min-height: 50px;
}

.productImg {
    background: white;
}

.productImg img {
    max-height: 50px;
}

.productName {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    color: #3A405F;
    font-weight: 700;
    padding-left: 15px;
    margin-bottom: 0;
}

.orderProductsQty {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #3A405F;
    margin-bottom: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .productCount {
    background: white;
    height: 30px;
    margin-top: 10px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
    width: 75px;
    padding: 11px 11px !important;
}

.productPrices {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderProducts {
    background: white;
    position: relative;
    margin-bottom: 30px;
}

.orderProducts:after {
    content: "";
    position: absolute;
    bottom: -22px;
    right: 15px;
    height: 0.5em;
    border-top: 1px solid #EBEBEB;
    z-index: 1;
    width: 80.5%;
}

.orderProductsName, .orderProductsCount, .orderProductsPrice {
    font-weight: bold;
    font-size: 12px;
    display: block;
    position: relative;
    top: 14px;
}

.orderProductsPrice {
    font-weight: 500;
}
