.products {
    background: #FAFBFC;
    min-height: 50px;
}

.productImg {
    background: white;
}

.productImg img {
    max-height: 50px;
}

.productName {
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: #3A405F;
    font-weight: 700;
    margin-top: 18px;
    padding-left: 15px;
}

.products .productCount {
    background: white;
    height: 30px;
    margin-top: 10px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
    width: 75px;
    padding: 11px 11px !important;
}

.productPrices {
    padding-top: 13px;
}
